/*
 * 可复用的公有布局
 */

/* 引入在线的矢量图标库 */
/* @import url("//at.alicdn.com/t/font_2550098_p39gw5qith9.css"); */

 /* 登录模块+注册模块 */
 /* 公用样式 */
 
 /* 弹出框 */
 .hint{
     position: fixed;
     top: calc(50% - 100px);
     left: calc(50% - 100px);
     width: 200px;
     height: 200px;   
     background: rgba(0, 0, 0, .5);
 }
 .hint .icon1{
    font-size: 100px !important;
    margin-left: 50px;
 }
 .hint .text{
     font-size: 20px;
     text-align: center;
     margin-top: 20px;
 }

 /* 公共底部 */
 .commonFooter{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 100);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
 }
 .commonFooter ul{
     display: flex;
     justify-content: space-around;
     
 }
 .commonFooter ul .iconfont{
  font-size: 30px;
 }
 
 .commonFooter .iconHome{
    font-weight: 100;
 }
 .commonFooter ul h3{
    font-size: 14px;
   }
.commonFooter a{
    color: #8A8A8A;
}
.active{
    color: #4294FF;
}