//courseDes私用的css样式
header{
    position: relative;
    width: 100%;
    height: 371px;
    color: #fff;
    background: #000000;
}
header #imgurl{
    width: 100%;
    height: 371px;
    object-fit: cover;
}
header #back{
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 10px;
}
header div{
    position: absolute;
    top:calc(50% - 53px);
    left: calc(50% - 33px);
    font-size: 14px;
    text-align: center;
}
header div #iconPlay{
    font-size: 50px;
}

// 主体
main{
    width: 90%;
    margin: 0 5%;
    padding-bottom: 50px;
}
main h2{
    font-size: 24px;
    color: #101010;
    margin-top: 25px;
   
}
main ul li{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

// 设计师
main .design{
    width: auto;
    height: 80px;
}
main .design img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
}
main .design h3{
    font-size: 18px;
    margin-top: 20px;
}
main .design h5{
    font-size: 14px;
    color: #8A8A8A;
}
main .design button{
    margin-top: 28px;
    width: 80px;
    height: 35px;
    color: #fff;
    border-radius: 23px;
    background: #4294FF;
   
}

// 介绍
main .introduce p{
    font-size: 18px;
}
main .introduce #desc{
    width: auto;
    height: 50px;
    font-size: 16px;
    color: #8a8a8a;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}


// 练习频次
main .frequency h5{
    font-weight: normal;
    font-size: 14px;
    color: #8a8a8a;
}
main .frequency div{
    width: 50%;
}
main .frequency #drawer{
    font-size: 23px;
}
main .frequency #dumbbell{
    font-size: 23px;
}
main .frequency div:first-child{
    margin-right: 27px;
    border-right: 1px dashed #bbb; 
}
main .frequency span{
    font-size: 16px;
    color: #101010;
}
// 开始训练
main .begin{
    width: auto;
    font-size: 18px;
    margin-top: 40px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    background: #4294FF;
    border-radius: 27px;
}